.r-zjg7tu {
    border: none !important;
    background: none !important;
    transition: filter 0.5s ease;
}
.r-uikc97 {
    background: none !important;
}
.r-zjg7tu:hover {
    filter: brightness(0.825);
}
.r-zjg7tu:active {
    filter: brightness(0.75);
}
.r-i49rur {
    background: none !important;
}